{% extends 'all/base.html' %}
{% load bootstrap3 %}

{% block content %}
{%for projo in post%}

<div class="container" style="margin-top:10%">
    <div class="">
        <p class="">{{projo.title}}</p>
        <p class="">{{projo.description}}</p>
        <p class="">By {{projo.profile}}</p>
        <p> <strong>{{projo.date}}</strong></p>
    </div>
{% endfor %}
    <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <div>
              <p class="">Solutions Offered <i class="far fa-comments"></i></p>
              <hr>
              {%if solutions%}
              {%for solution in solutions%}
              <p style="margin-top:5%"> <i class="fas fa-quote-left"></i> {{solution.solution}} <i class="fas fa-quote-right"></i></p>
              <i>By: {{solution.user}}</i>
              <br>
              {%endfor%}
              {%else%}
              <p class="alert alert-info">Be the 1st to offer a Solution</p>
              {%endif%}
            </div>
            <br><br>
            {%if user.is_authenticated%}
            {%for proj in post%}
            <form class="" action="/solution/{{proj.id}}/" method="post">
              {%csrf_token%}
              {% bootstrap_form form%}
              <button class="btn btn-outline-default" type="submit" name="button">Add a Solution</button>
            </form>
            {%endfor%}
            {%else%}
            <a href="/accounts/login/"><button class="btn btn-outline-default" type="submit" name="button">Sign in To Contribute</button></a>
            {%endif%}
          </div>
    
          <div class="col-md-2"></div>
      </div>
    </div>

{% endblock %}