{% extends 'all/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container" style="margin-top: 10%">
    <div class="row">
        <div class="col-md-5">
            <h1 class="headingstyles" style="font-size: 7ex;">Offer a Tip/ Advice</h1>
            {%if user.is_authenticated%}
            <form class="" action="{%url 'tips'%}" method="post">
                {%csrf_token%}
                {% bootstrap_form form%}
                <button class="btn btn-outline-default" type="submit" name="button">Tip/Advice</button>
            </form>
            {%else%}
            <a href="/accounts/login/"><button class="btn btn-outline-default" type="submit" name="button">Sign in To Contribute</button></a>
            {%endif%} 
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <p class="headingstyles" style="font-size: 5ex;text-decoration: underline">Tips/Advice <i class="far fa-comments"></i></p>
            <hr>
            {%if tips%}
            {%for tip in tips%}
            <div style="padding:1%">
                <div class="card">
                    <div style="margin:3%">
                    <br>
                    <p> <strong>{{tip.title}}</strong></p>
                    <hr>
                    <p>{{tip.tips}}</p>
                    <p style="float:right">{{tip.date}}</p>
                    <p>By: {{tip.user}}</p>
                    <div class="card-footer">
                        <i style="float:right" class="fas fa-thumbs-up"></i>
                        <i class="fas fa-thumbs-down"></i>
                    </div>                  
                </div>
            </div>
            </div>
            {%endfor%}
            {%else%}
            <p class="alert alert-info">Be the 1st to offer a Tip/Advice</p>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}